.title_text_wrap {
  width: 100%;
  background: linear-gradient(to right, #fff, #f9fafb);
  padding: 16px;
  border-radius: 16px;
  border: solid 1px white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
